:host{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile-content__friend{
    display: flex;
    flex-wrap: wrap;
    gap: 3em 10em;
    margin-top: 2em;
    bottom: auto;
    width: 100%;
    .profile-content__user-image{
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
        border-color: var(--primaryColorOrigin);
        border-style: double;
        object-fit: cover
    }
    // .box-image--delete{
    //     margin-left: auto;
    //     width: 3em;
    //     height: 3em;
    //     .profile-content__delete-image{
    //         font-size: 2em;
    //         &:hover{
    //             color: var(--warningColor);
    //         }
    //     }
    // }
    .card-delete-btn{
        margin-left: auto;
    }
}

.profile-content__box-image{
    display: flex;
    cursor: pointer;
    background-color: transparent;
    transition: color .2s ease-in-out;
    align-items: center;
    justify-content: center;
    border-radius: 2.5em;
}

.profile-content__box{
    display: flex;
    width: 18em;
    gap: 1em;
    align-items: center;
    .box-image--add{
        width: 4em;
        height: 4em;
        .profile-content__add-image{
            font-size: 3.5em;
            &:hover{
                color: var(--primaryColorOrigin);
            }
        }
    }
}
