<header class="header">
    <div class="logo-container">
        <a routerLink="/busqueda-principal" class="logo-link">
            <i class="ph ph-book"></i>
            <span>ReadApp</span>
        </a>
    </div>
    <nav class="navbar" #navMenu>
        <ul class="navbar-list">
            <li class="nav-item"><a routerLink='/busqueda-principal' class="nav-link" (click)="toggleNav(navMenu)">Busqueda principal</a></li>
            <li class="nav-item"><a routerLink="/busqueda-principal/busqueda-libros" class="nav-link" (click)="toggleNav(navMenu)">Búsqueda de Libros</a></li>
            <li class="nav-item"><a routerLink="/busqueda-principal/perfil/informacion" class="nav-link" (click)="toggleNav(navMenu)">Perfil</a></li>
            <li class="nav-item"><a routerLink="/busqueda-principal/perfil/amigos" class="nav-link" (click)="toggleNav(navMenu)">Amigos</a></li>
            <li class="nav-item"><a routerLink="/busqueda-principal/perfil/libros-aleer" class="nav-link" (click)="toggleNav(navMenu)">Libros a Leer</a></li>
            <li class="nav-item"><a routerLink="/busqueda-principal/perfil/libros-leidos" class="nav-link" (click)="toggleNav(navMenu)">Libros Leídos</a></li>
            <li class="nav-item"><a routerLink="/busqueda-principal/perfil/recomendaciones-valorar" class="nav-link" (click)="toggleNav(navMenu)">Recomendaciones a Valorar</a></li>
            <li class="nav-item"><a routerLink="/busqueda-principal/mis-recomendaciones" class="nav-link" (click)="toggleNav(navMenu)">Mis recomendaciones</a></li>
        </ul>
    </nav>
    <div class="header-buttons">
        <div class="user">
            <a routerLink="/busqueda-principal/perfil/informacion">
                <i class="ph ph-user-circle"></i>
            </a>
        </div>
        <button (click)="toggleNav(navMenu)" class="nav-btn"><i class="ph ph-list"></i></button>
        <button (click)="callLogout()" class="nav-btn"><i class="ph ph-sign-out"></i></button>
    </div>
</header>

