<h2 class="profile-content-title">Información</h2>
<div class="profile-data">
    <h4>General</h4>
    <form *ngIf="informationForm" action="" class="form" [formGroup]="informationForm">
        <div class="input-container">
            <label for="nombre">Nombre</label>
            <input type="text" formControlName="nombre" name="nombre" id="nombre">
            <app-validation-field [control]="informationForm.get('nombre')!" [errorMessages]="nameErrorMessages"></app-validation-field>
        </div>
        <div class="input-container">
            <label for="apellido">Apellido</label>
            <input type="text" formControlName="apellido" name="apellido" id="apellido"
                [class.is-invalid]="informationForm.get('apellido')?.invalid && informationForm.get('apellido')?.touched">
            <app-validation-field [control]="informationForm.get('apellido')!" [errorMessages]="lastNameErrorMessage"></app-validation-field>
        </div>
        <div class="input-container">
            <label for="username">Username</label>
            <input type="text" formControlName="username" name="username" id="username"
                [class.is-invalid]="informationForm.get('username')?.invalid && informationForm.get('username')?.touched">
            <app-validation-field [control]="informationForm.get('username')!" [errorMessages]="usernameErrorMessage"></app-validation-field>
        </div>
        <div class="input-container">
            <label for="fecha de nacimiento">Fecha de nacimiento</label>
            <input type="date" formControlName="fechaDeNacimiento" name="fecha de nacimiento" id="fecha de nacimiento"
                max="{{fechaDeNacimientoMaxima.toISOString().slice(0, 10)}} "
                [class.is-invalid]="informationForm.get('fechaDeNacimiento')?.invalid && informationForm.get('fechaDeNacimiento')?.touched">
            <app-validation-field [control]="informationForm.get('fechaDeNacimiento')!" [errorMessages]="dateOfBirthErrorMessage"></app-validation-field>
        </div>
        <div class="input-container">
            <label for="email">Email</label>
            <input type="email" formControlName="email" name="email" id="email"
                [class.is-invalid]="informationForm.get('email')?.invalid && informationForm.get('email')?.touched">
            <app-validation-field [control]="informationForm.get('email')!" [errorMessages]="emailErrorMessage"></app-validation-field>
        </div>
        <div class="input-container">
            <label for="tiempo promedio de lectura">Tiempo promedio de lectura</label>
            <input type="text" formControlName="tiempoPromedioDeLectura" name="tiempo promedio de lectura"
                id="tiempo promedio de lectura"
                [class.is-invalid]="informationForm.get('tiempoPromedioDeLectura')?.invalid && informationForm.get('tiempoPromedioDeLectura')?.touched">
            <app-validation-field [control]="informationForm.get('tiempoPromedioDeLectura')!" [errorMessages]="averageReadingTimeErrorMessage"></app-validation-field>
        </div>
        <div class="profile-reading">
            <h4>Forma de lectura</h4>
            <div class="form-group">
                <div class="input-select-container">
                    <input type="radio" formControlName="lectura" value="Lector Normal" name="lectura"
                        id="Lector Normal"
                        [class.is-invalid]="informationForm.get('lectura')?.invalid && informationForm.get('lectura')?.touched">
                    <label for="Lector Normal">Lector normal</label>
                </div>
                <div class="input-select-container">
                    <input type="radio" formControlName="lectura" value="Lector Promedio" name="lectura"
                        id="Lector Promedio"
                        [class.is-invalid]="informationForm.get('lectura')?.invalid && informationForm.get('lectura')?.touched">
                    <label for="Lector Promedio">Lector promedio</label>
                </div>
                <div class="input-select-container">
                    <input type="radio" formControlName="lectura" value="Lector Ansioso" name="lectura"
                        id="Lector Ansioso"
                        [class.is-invalid]="informationForm.get('lectura')?.invalid && informationForm.get('lectura')?.touched">
                    <label for="Lector Ansioso">Lector ansioso</label>
                </div>
                <div class="input-select-container">
                    <input type="radio" formControlName="lectura" value="Lector Fanatico" name="lectura"
                        id="Lector Fanatico"
                        [class.is-invalid]="informationForm.get('lectura')?.invalid && informationForm.get('lectura')?.touched">
                    <label for="Lector Fanatico">Lector fanático</label>
                </div>
                <div class="input-select-container">
                    <input type="radio" formControlName="lectura" value="Lector Recurrente" name="lectura"
                        id="Lector Recurrente"
                        [class.is-invalid]="informationForm.get('lectura')?.invalid && informationForm.get('lectura')?.touched">
                    <label for="Lector Recurrente">Lector recurrente</label>
                </div>
            </div>
        </div>
        <div class="profile-search">
            <h4>Criterios de búsqueda</h4>
            <div class="form-group">
                <div class="input-select-container" *ngFor="let criterio of listaSearchCriteria">
                    <input type="checkbox" [checked]="informationForm.get('searchCriteria')?.value.includes(criterio)"
                        (change)="onCheckboxChange($event, criterio)" [id]="criterio"
                        [class.is-invalid]="informationForm.get('searchCriteria')?.invalid && informationForm.get('searchCriteria')?.touched">
                    <label [for]="criterio">{{ criterio }}</label>
                </div>
            </div>
        </div>
        <div class="profile-limite">
            <div class="input-container">
                <label for="lectorPromedio">Límite máximo</label>
                <input type="number" formControlName="maxRange" name="limite-maximo">
            </div>
            <div class="input-container">
                <label for="lectorPromedio">Límite mínimo</label>
                <input type="number" formControlName="minRange" name="limite-minimo">
            </div>
        </div>
    </form>
</div>
<div class="profile-buttons">
    <button class="button cancel-btn" type="button" (click)="cancelSave()">Cancelar</button>
    <button class="button save-btn" type="button" (click)="save()">Guardar cambios</button>
</div>