.profile-content__friend{
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    bottom: auto;
    width: 100%;
}

.profile-content__box{
    display: flex;
    width: 18em;
    gap: 1em;
    align-items: center;
}

.profile-content__user-image{
    font-size: 3em;
    border-radius: 2.5em;
    border-color: var(--primaryColorOrigin);
    border-style: double;
}

.profile-content__box-image{
    display: flex;
    cursor: pointer;
    background-color: transparent;
    transition: color .2s ease-in-out;
    align-items: center;
    justify-content: center;
    border-radius: 2.5em;
}

.box-image--delete{
    margin-left: auto;
    width: 3em;
    height: 3em;
}

.profile-content__delete-image{
    font-size: 2em;
}

.profile-content__delete-image:hover{
    color: var(--warningColor);
}

.box-image--add{
    width: 4em;
    height: 4em;
}

.profile-content__add-image{
    font-size: 3.5em;
}

.profile-content__add-image:hover{
    color: var(--primaryColorOrigin);
}