body{
    background-color: var(--backgroundOrigin);
    display: grid;
    grid-template-rows: 8vh 1fr 8vh;
    grid-template-areas:
      "search"
      "card"
      "header";
    height: 100vh;
  }

@media (min-width: 788px){
  body{
    grid-template-rows: 8vh 8vh 1fr;
    grid-template-areas:
    "header"
    "search"
    "card";
    gap: 0;
    height: 100vh;
  }
}

/*crecimeinto de la barra de busqueda a la par de las cards*/
.nav-bar__input{
  /*250px card - 1.8em boton*/
  width: calc(250px - 1.8em);
}

@media (min-width: 545px){
  .nav-bar__input{
    width: calc(500px - 1.8em);
  }
}

@media (min-width: 1071px){
  .nav-bar__input{
    /* + 2.5em gap*/
    width: calc(1000px + 0.7em);
  }
}