body{
    background-color: var(--backgroundOrigin);
    display: grid;
    grid-template-rows: 92vh 8vh ;
    grid-template-areas:
      "main"
      "header";
    margin: auto;
  }

  @media (min-width: 788px) and (max-width: 100vw) {
    body{
      grid-template-rows: 8vh 92vh;
      grid-template-areas:
        "header"
        "main";
    }

    
}

