/*================================================*/
            /*Header mobile (max 400px (787px))*/
/*================================================*/

header{
    user-select: none;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5em 0 0.5em;
    background-color: var(--primaryColorOrigin);
    color: var(--backgroundOrigin);
}

.app-info{
    display: flex;
    align-items: center;
}

.app-info h1 {
    color: var(--backgroundOrigin);
}

.profile-info{
    display: none;
}

.profile-info a {
    color: var(--backgroundOrigin);
}

.hamburger-list{
    align-self: center;
    border: none;
    background-color: var(--primaryColorOrigin);
}

/*================================================*/
    /*Header tablet (401px (788px) - 768px (1070px))*/
/*================================================*/

@media (min-width: 788px){
    header{
        margin-top: 0;
    }
}

/*================================================*/
        /*Header web (min 769px (1071px))*/
/*================================================*/

@media (min-width: 1071px){
    .hamburger-list{
        display: none;
    }

    .profile-info{
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
    
    .profile-info__img{
        width: 4em; 
        height: 4em;
    }
}