body{
  background-color: var(--backgroundOrigin);
  display: grid;
  grid-template-rows: 8vh 1fr 8vh;
  grid-template-areas:
    "search"
    "card"
    "header";
  height: 100vh;
}

@media (min-width: 788px){
  body{
    grid-template-rows: 8vh 8vh 1fr;
    grid-template-areas:
    "header"
    "search"
    "card";
    gap: 0;
    height: 100vh;
  }
}