search{
    user-select: none;
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondaryColorOrigin);
    margin-bottom: 0.5em;
}

.nav-bar__container{
    display: flex;
    padding: 0.4em 0 0.4em 0;
}

.nav-bar__input{
    height: 2.5em;
    width: calc(100vw - 10em);
    border: 1px solid var(--primaryColorOrigin);
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
}

.nav-bar__buttom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 1.8em;
    background-color: var(--primaryColorOrigin);
    border: none;
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}

.checkbox__label{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    font-size: 0.7em;
}

.checkbox__text{
    color: var(--primaryColorOrigin);
}

/*crecimeinto de la barra de busqueda a la par de las cards*/
@media (min-width: 401px){
    .nav-bar__input{
        /*300px card - 1.8em del tamaño del boton*/
        width: calc(300px - 1.8em);
    }
}

@media (min-width: 788px){
    .nav-bar__form{
        display: flex;
        justify-content: center;
    }

    .nav-bar__input{
        /*+ 5em gap*/
        width: calc(600px + 3.2em);
    }

    .checkbox__label{
        margin-left: 0.5em;
    }
}

@media (min-width: 1071px){
    .nav-bar__input{
        width: calc(900px + 3.2em);
    }
}