@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: var(--fontColorOrigin);
}
a{
    text-decoration: none;
}
body {
  -webkit-font-smoothing: antialiased;
    background-color: var(--backgroundOrigin);
}
img, picture, video, canvas, svg {
  display: block;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
li{
  list-style: none;
}
:root{
    --primaryColorOrigin: #5EADE1;
    --secondaryColorOrigin: hsl(200, 65%, 83%);
    --backgroundOrigin: #FFFffF;
    --fontColorOrigin: #000000;
    --backgroundCBOrigin: #7eb7dd;
    --warningColor: rgb(247, 103, 103);
    --buttonColor: #c7c7c7;
    --maxWidth: 1024px;
}

/*AUX*/

.no-select {
  user-select: none;
}

.hidden {
  display: none;
}

.divider {
  border-bottom: solid 2px black;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: -1em;
  margin-right: -1em;
}

/* Personalización de la barra de desplazamiento para WebKit */
::-webkit-scrollbar {
  width: 1em;
  height: auto;
}

::-webkit-scrollbar-track {
  background: var(--backgroundOrigin); 
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColorOrigin); 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primaryColorOrigin);  
}