.card-recom {
    display: grid;
    grid-template-rows: 60px 210px 20px 30px;
    position: relative;
    gap: 1rem;
    max-width: 300px;
    padding: 1rem;
    border: 2px solid var(--primaryColorOrigin);
    border-radius: 15px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    overflow: hidden;
    z-index: 2;

    &::before {
        content: '';
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        background-color: hsla(200, 65%, 83%, 1);
        border-right: 10px solid var(--primaryColorOrigin);
        border-top: 10px solid var(--primaryColorOrigin);
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-top-right-radius: 15px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
        transition: width 0.4s ease, height 0.4s ease;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        background-color: hsla(200, 65%, 83%, 1);
        border-top-right-radius: 15px;
        transition: width 0.4s ease, height 0.4s ease;
    }

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);

        &::after {
            width: 100%;
            height: 100%;
        }
    }

    .card-recom-title,
    .card-recom-description,
    .card-recom-book span,
    .card-recom-link {
        transition: color 0.3s ease;
        z-index: 2;
    }

    &:hover .card-recom-title,
    &:hover .card-recom-description,
    &:hover .card-recom-book span,
    &:hover .card-recom-link {
        z-index: 2;
    }

    &.delete-animation {
        opacity: 0;
        filter: blur(10px);
        transform: translateY(-20px);
        transition: opacity 0.5s ease, filter 0.5s ease, transform 0.5s ease;
    }

    .card-recom-header {
        display: flex;
        z-index: 2;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        width: 100%;
        height: 60px;
        padding-bottom: .5rem;
        border-bottom: 2px solid black;

        .card-recom-title {
            font-size: 18px;
            word-break: break-all;
        }

        .card-recom-actions {
            display: flex;
            align-items: center;
            gap: .5rem;

            i {
                font-size: 1.5rem;
                cursor: pointer;
            }

            .ph-trash {
                color: #DF0000;
            }

            .style-button {
                background-color: transparent;
                border: none;
            }
            .ph-heart-fill {
                color: red;
            }
        }
    }

    .card-recom-content {
        width: 100%;
        z-index: 2;
        padding-bottom: .5rem;
        border-bottom: 2px solid black;

        .card-recom-description {
            font-size: 14px;
            margin-bottom: .5rem;
            word-break: break-all;
        }

        .card-recom-books {
            width: 100%;

            .card-recom-book {
                display: flex;
                align-items: center;
                gap: .5rem;

                i {
                    font-size: 2rem;
                }

                span {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }

    .card-recom-stats {
        display: flex;
        z-index: 2;
        justify-content: space-around;
        width: 100%;

        .card-recom-stat {
            display: flex;
            gap: .5rem;
        }
    }

    .card-recom-link {
        display: flex;
        align-self: flex-start;
        align-items: center;
        gap: .5rem;
        color: black;
        font-size: 18px;
    }
}

@media (min-width: 425px) {
    .card-recom {
        grid-template-rows: 60px 174px 20px 30px;
        max-width: 320px;

        .card-recom-content {
            .card-recom-books {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 0.5rem;
            }
        }
    }
}