<article class="card-recom" [ngClass]="{'delete-animation': isdeleting}">
    <header class="card-recom-header">
        <h2 class="card-recom-title">{{this.recomendation.name}}</h2>
        <div class="card-recom-actions">
            <button [routerLink]="['/busqueda-principal/edicion-recomendacion', recomendation.id]" class="style-button"><i class="ph ph-pencil-simple" *ngIf="showIcons === 'actions'"></i></button>
            <button class="style-button"><i class="ph ph-trash" *ngIf="showIcons === 'actions'" (click)="deleteRecommendation()" (keydown)="deleteRecommendation()"></i></button>
            <button class="style-button"><i class="ph-heart" [ngClass]="{'ph':!heartstatus, 'ph-heart-fill': heartstatus}" *ngIf="showIcons === 'heart'" (click)="addOrRemoveRecommendationToValorate()"></i></button>
        </div>
    </header>
    <section class="card-recom-content">
        <div class="card-recom-desc">
            <p class="card-recom-description">
                {{recomendation.description}}
            </p>
        </div>
          <div class="card-recom-books">
            @for (libros of this.recomendation.recommendedBooks; track $index;) {
                <div class="card-recom-book">
                    <i class="ph ph-bookmark"></i>
                    <span>{{libros | truncate:25:false }}</span>
                </div>
            }
        </div>
    </section>
    <section class="card-recom-stats">
        <div class="card-recom-stat">
            <i class="ph ph-star"></i>
            <span>{{this.getAveregaRating()}}</span>
        </div>
        <div class="card-recom-stat">
            <i class="ph ph-books"></i>
            <span>{{this.getBookCount()}}</span>
        </div>
        <div class="card-recom-stat">
            <i class="ph ph-clock"></i>
            <span>{{this.getReadingTime() | number: '1.0-1'}}hs</span>
        </div>
    </section>
    <a [routerLink]="['/busqueda-principal/detalle-recomendacion', recomendation.id]" routerLinkActive="router-link-active"  class="card-recom-link">Ver más<i class="ph ph-caret-double-right"></i></a>
</article>
