.card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 510px;
}

@media (min-width: 500px){
    .card-section{
        width: 400px;
        height: 248px;
    }
}