<main class="no-select">
  <div class="logo">
    <img class="logo__svg" src="/icons/book-bookmark-big.svg" alt="icon book" />
    <h1>ReadApp</h1>
  </div>
  <form *ngIf="loginForm" class="container__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <section class="container__form-input">
      <label for="username">Username</label>
      <input class="input-box-username" type="text" formControlName="username" name="username" id="username" placeholder="Usuario" autocomplete="username" required />
      <app-validation-field 
          [control]="loginForm.get('username')!"
          [errorMessages]="usernameErrorMessages"
          >
      </app-validation-field>
    </section>
    <section class="container__form-input">
      <label for="password">Password</label>
      <div class="input-button-box">
      <input class="input-box-password" type="{{showPassword ? 'text' : 'password'}}" formControlName="password" name="password" id="password"
        placeholder="Password" required />
        <button class="button-box-password" [ngClass]="{'button-touched': this.getPasswordValidation()}" type="button" (click)="switchPasswordVisibility()">
          <img src="{{showPassword ? '/icons/eye.svg' : '/icons/eye-closed.svg'}}" alt="eye icon">
        </button>
      </div>
      <app-validation-field 
        [control]="loginForm.get('password')!"
        [errorMessages]="passwordErrorMessages"
        >
      </app-validation-field>
    </section>

    <button class="container__form-submit" [ngClass]="{'disabled-button': this.getLoginValidation()}"  type="submit">Ingresar</button>
    
    @if(getLoginStatus()) {
      <div class="error-message">
        <img src="/icons/warning-red.svg" alt="warning">
        <p>Usuario o contraseña incorrectos.</p>
    </div>
    }
  </form>
</main>
