<div class="profile-header">
    <div class="profile">
        <div class="profile-img">
            <i class="ph ph-user-circle"></i>
        </div>
        <h3 class="profile-name">Carlos Salvador Bilardo</h3>
    </div>
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="nav-item">
                <i class="ph ph-info"></i>
                <a routerLink="/busqueda-principal/perfil/informacion" class="nav-link" routerLinkActive="nav-link-active">Información</a>
            </li>
            <li class="nav-item">
                <i class="ph ph-users"></i>
                <a routerLink="/busqueda-principal/perfil/amigos" class="nav-link" routerLinkActive="nav-link-active">Amigos</a>
            </li>
            <li class="nav-item">
                <i class="ph ph-book"></i>
                <a routerLink="/busqueda-principal/perfil/libros-leidos" class="nav-link" routerLinkActive="nav-link-active">Libros leídos</a>
            </li>
            <li class="nav-item">
                <i class="ph ph-bookmarks"></i>
                <a routerLink="/busqueda-principal/perfil/libros-aleer" class="nav-link" routerLinkActive="nav-link-active">Libros a leer</a>
            </li>
            <li class="nav-item">
                <i class="ph ph-heart"></i>
                <a routerLink="/busqueda-principal/perfil/recomendaciones-valorar" class="nav-link" routerLinkActive="nav-link-active">Recomendaciones a valorar</a>
            </li>
        </ul>
    </nav>
</div>
