<div class="container"> 
    <div class="containerExpanded" style="background-color: var(--secondaryColorOrigin);">
        <div class="containerRestricted">
            <app-search-bar (searchedAndPrivate)="handleSearch({ searchValue: $event.search })" [showCheck]="false" />
        </div>
    </div>
    <div class="containerExpanded scrollableBar">
        <div class="containerRestricted">
            <section class="cards-container">
                @for  (item of filterCurrentBook; track $index){
                    <app-card-book [libro]="item"/>
                }
            </section>
        </div>
    </div>
</div>