<div class="containerExpanded">
    <div class="containerRestricted">
        <form *ngIf="recommendationForm" action="" [formGroup]="recommendationForm">
            <div class="page_title">
                <div class="input-container">
                    <label for="recomendation-title">Título<span style="color: rgb(199, 0, 0)">*</span></label>
                    <input id="recomendation-title" class="main_title" formControlName="name">
                </div>
                <div class="input-check-container">
                    <input type="checkbox" name="" id="visibility" formControlName="private">
                    <label for="visibility">Visibilidad privada</label>
                </div>
            </div>
    
            <h3 class="secondary_title">Libros</h3>
    
            <section class="cards-container">
                <app-card-book *ngFor="let book of recommendation!.recommendedBooks" [deleteBtn]="true" [libro]="book" (delete)="eliminarLibroSwal($event)"/>
                <div class="add-button-container">
                    <button (click)="viewAddBooks(recommendation!.id)" type="button" class="add-button"><i class="profile-content__add-image ph-plus-circle"></i></button>
                </div>
            </section>
    
            <section class="review">
                <div class="input-container">
                    <label for="recomendation-description">Reseña<span style="color: rgb(199, 0, 0)">*</span></label>
                    <textarea id="recomendation-description" class="main_title" formControlName="description"></textarea>
                </div>
                <div class="divider"></div>
            </section>
    
            <section class="valorations_area">
                <div class="valoration_title">
                    <h2>Valoraciones</h2>
                    <i class="ph-fill ph-star"></i>
                    <span>{{recommendation!.averageRating}} / 5</span>
                </div>
                <section class="valorations_container">
                    <article class="valoration_article" *ngFor="let valoration of recommendation!.valoration">
                        <div class="valoration_user">
                            <img src="./users/user-2.jpg" class="valoration_profile-image" alt=""/>
                            <div class="valoration_user-info">
                                <h3>{{valoration.user}}</h3>
                                <div>
                                    <i class="ph-fill ph-star"></i>
                                    <span>{{valoration.value}}</span><br />
                                </div>
                                <span>{{valoration.date | date: 'dd/MM/yyyy' }}</span>
                            </div>
                        </div>
        
                        <p class="valoration_text">
                            {{valoration.comment}}
                        </p>
                    </article>
                </section>
            </section>
    
            <div class="controlButtons">
                <button (click)="cancelSave()" class="button cancel-btn" type="button">Cancelar</button>
                <button (click)="save()" class="button save-btn" type="button">Guardar cambios</button>
            </div>
        </form>
    </div>
</div>
